<h1>gun show trader</h1>

<%= button_to 'clear database', { :controller => "events", :action => "clear_database" } %>
<%= form_tag(events_scrape_path, method: 'post', :id => 'events-scrape') do %>
  <% @US_states.each do |state| %>
    <%= check_box_tag "states[]", state %><%= link_to state, "##{state}" %>
  <% end %>
  <div>
    <%= button_to 'scrape', { :controller => "events", :action => "scrape" } %>
  </div>
<% end %>

<% @US_states.each do |state| %>
  <div id="<%= state%>">
    <h3><%= state %></h3>
    <ul>
      <% @events.each_with_index do |e, i| %>
        <% if e[0].state_full.downcase == state.downcase %>
          <p class="border">
            <h3><%= e[0].title %></h3>
            <li>
              <span class="<%= checkEventEquality(i, 'dates') %>">dates: <%= e[0].dates %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'dates') %>">dates: <%= e[1].dates %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'rating') %>">rating: <%= e[0].rating %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'rating') %>">rating: <%= e[1].rating %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'city') %>">city: <%= e[0].city %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'city') %>">city: <%= e[1].city %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'state') %>">state: <%= e[0].state %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'state') %>">state: <%= e[1].state %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'hours') %>">hours: <%= e[0].hours %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'hours') %>">hours: <%= e[1].hours %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'description') %>">description: <%= e[0].description %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'description') %>">description: <%= e[1].description %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'promoter') %>">promoter: <%= e[0].promoter %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'promoter') %>">promoter: <%= e[1].promoter %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'location') %>">location: <%= e[0].location %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'location') %>">location: <%= e[1].location %></span>
              <% end %>
            </li>
            <li>
              <span class="<%= checkEventEquality(i, 'vendor_info') %>">vendor_info: <%= e[0].vendor_info %></span><br>
              <% if e[1] %>
                <span class="<%= checkEventEquality(i, 'vendor_info') %>">vendor_info: <%= e[1].vendor_info %></span>
              <% end %>
            </li>
            <li>
              <span>created_at: <%= e[0].created_at %></span>
            </li>
          </p>
        <% end %>
      <% end %>
    <ul>
  </div>
<% end %>
